<link rel="stylesheet" href="https://visor.io/css/landing/slick.css" charset="utf-8">
<footer>
		<style type="text/css">
			.s12 {
				padding-top: 20px;
			}
			.s13, .s14 {
				padding-top: 19px;
			}
			.s1 {
				padding-top: 14px;
			}
			.s15 {
				height: 100px; 
				width: 150px !important;
			}
			footer .wrap {
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				padding: 4em 0;
					padding-top: 4em;
				padding-top: 7em;
				background-size: 179px;
			}
							.partner-slider h3 {
				text-align: center;
				margin-bottom: 1.3em;
				font-size: 1.33em;
			}
			.container.wrap {
				background-image: url(https://visor.io/images/landing/three.png);
			}
			.partner-slider {
				float: left;
				width: 100%;
			}
			footer {
				float: left;
				font-size: 14px;
				color: #9B9B9B;
				height: 491px;
				width: 100%;
				overflow: hidden;
				background: #ECECEC;
			}
			footer .wrap {
background-repeat: no-repeat;
background-size: cover;
background-position: center;
padding: 4em 0;
padding-top: 7em;
background-size: 179px;
}
			.footer-slider {
padding: 2.5em 0 0;
}
			footer .wrap > div:nth-child(1) {
				float: left;
			}
			footer .wrap > div:nth-child(2) {
				float: right;
			}
			.partner-slider li img {
display: block;
margin: 0 auto;
max-width: 14em;
}
			.slick-arrow{
				border: none;
			}
		</style>
		<section class="footer-slider">
			<div class="container">
				<div class="partner-slider">
					<h3>Miembros de la Red Visor</h3>
					<ul class="slick-initialized slick-slider"><button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block;">Previous</button>
						<div aria-live="polite" class="slick-list draggable">
							<div class="slick-track" style="opacity: 1; width: 5775px; transform: translate3d(-1100px, 0px, 0px);" role="listbox">
								<li class="s12 slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" style="width: 271px;" tabindex="-1"><img src="https://visor.io/images/landing/s12.png"></li>
								<li class="s13 slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" style="width: 271px;" tabindex="-1"><img src="https://visor.io/images/landing/s13.png"></li>
								<li class="s14 slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" style="width: 271px;" tabindex="-1"><img src="https://visor.io/images/landing/s14.png"></li>
								<li class="s15 slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 271px;" tabindex="-1"><img style="height: 100%;" src="https://visor.io/images/landing/s15.png"></li>
								<li class="s1 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 271px;" tabindex="-1" role="option" aria-describedby="slick-slide00"><img src="https://visor.io/images/landing/s1.png"></li>
								<li class="s2 slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 271px;" tabindex="-1" role="option" aria-describedby="slick-slide01"><img src="https://visor.io/images/landing/s2.png"></li>
								<li class="s3 slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 271px;" tabindex="-1" role="option" aria-describedby="slick-slide02"><img src="https://visor.io/images/landing/s3.png"></li>
								<li class="s5 slick-slide slick-active" data-slick-index="3" aria-hidden="false" style="width: 271px;" tabindex="-1" role="option" aria-describedby="slick-slide03"><img src="https://visor.io/images/landing/s5.png"></li>
								<li class="s7 slick-slide" data-slick-index="4" aria-hidden="true" style="width: 271px;" tabindex="-1" role="option" aria-describedby="slick-slide04"><img src="https://visor.io/images/landing/s7.png"></li>
								<li class="s8 slick-slide" data-slick-index="5" aria-hidden="true" style="width: 271px;" tabindex="-1" role="option" aria-describedby="slick-slide05"><img src="https://visor.io/images/landing/s8.png"></li>
								<li class="s9 slick-slide" data-slick-index="6" aria-hidden="true" style="width: 271px;" tabindex="-1" role="option" aria-describedby="slick-slide06"><img src="https://visor.io/images/landing/s9.png"></li>
								<li class="s10 slick-slide" data-slick-index="7" aria-hidden="true" style="width: 271px;" tabindex="-1" role="option" aria-describedby="slick-slide07"><img src="https://visor.io/images/landing/s10.png"></li>
								<li class="s11 slick-slide" data-slick-index="8" aria-hidden="true" style="width: 271px;" tabindex="-1" role="option" aria-describedby="slick-slide08"><img src="https://visor.io/images/landing/s11.png"></li>
								<li class="s12 slick-slide" data-slick-index="9" aria-hidden="true" style="width: 271px;" tabindex="-1" role="option" aria-describedby="slick-slide09"><img src="https://visor.io/images/landing/s12.png"></li>
								<li class="s13 slick-slide" data-slick-index="10" aria-hidden="true" style="width: 271px;" tabindex="-1" role="option" aria-describedby="slick-slide010"><img src="https://visor.io/images/landing/s13.png"></li>
								<li class="s14 slick-slide" data-slick-index="11" aria-hidden="true" style="width: 271px;" tabindex="-1" role="option" aria-describedby="slick-slide011"><img src="https://visor.io/images/landing/s14.png"></li>
								<li class="s15 slick-slide" data-slick-index="12" aria-hidden="true" style="width: 271px;" tabindex="-1" role="option" aria-describedby="slick-slide012"><img style="height: 100%;" src="https://visor.io/images/landing/s15.png"></li>
								<li class="s1 slick-slide slick-cloned" data-slick-index="13" aria-hidden="true" style="width: 271px;" tabindex="-1"><img src="https://visor.io/images/landing/s1.png"></li>
								<li class="s2 slick-slide slick-cloned" data-slick-index="14" aria-hidden="true" style="width: 271px;" tabindex="-1"><img src="https://visor.io/images/landing/s2.png"></li>
								<li class="s3 slick-slide slick-cloned" data-slick-index="15" aria-hidden="true" style="width: 271px;" tabindex="-1"><img src="https://visor.io/images/landing/s3.png"></li>
								<li class="s5 slick-slide slick-cloned" data-slick-index="16" aria-hidden="true" style="width: 271px;" tabindex="-1"><img src="https://visor.io/images/landing/s5.png"></li>
						</div>
					</div>

						
					<button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;">Next</button></ul>
				</div>
			</div>
		</section>
		<div class="clearfix"></div>
		<div class="container wrap">
			<div>
				<p>Copyrights © 2016 All Rights Reserved by Visor ADL.</p>
			</div>
			<div>
				<a href="aviso/" target="_blank">Aviso de Privacidad</a> / <a href="terminos/" target="_blank">Términos y Condiciones</a>
			</div>
		</div>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
	<script src="https://visor.io/js/after.js"></script>
	<script src="https://visor.io/js/custom.js"></script>