<footer>
	<section class="footer-slider">
		<div class="container">
			<div class="partner-slider">
				<h3>Miembros de la Red Visor</h3>
				<ul>
					<li class="s1"><img src="images/landing/s1.png"/></li>
					<li class="s2"><img src="images/landing/s2.png"/></li>
					<li class="s3" ><img src="images/landing/s3.png"/></li>
					<li class="s4" ><img src="images/landing/s4.png"/></li>
					<li class="s5" ><img src="images/landing/s5.png"/></li>
					<li class="s7"><img src="images/landing/s7.png"/></li>
					<li class="s8"><img src="images/landing/s8.png"/></li>
					<li class="s9" ><img src="images/landing/s9.png"/></li>
					<li class="s10"><img src="images/landing/s10.png"/></li>
					<li class="s11" ><img src="images/landing/s11.png"/></li>
				</ul>
			</div>
		</div>
	</section>
	<div class="clearfix"></div>
	<div class="container wrap">
		<div>
			<p>Copyrights © 2016 All Rights Reserved by Visor ADL.</p>
		</div>
		<div>
			<a href="#">Aviso de Privacidad</a> / <a href="#">Términos y Condiciones</a>
		</div>
	</div>
</footer>

<!-- LIBRARIES -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="js/after.js"></script>
