@media only screen and (min-width: 320px){
    .uber nav img {
        width: 100px;
    }
}
@media only screen and (min-width: 320px){
    .uber .logo img {
        padding-top: 6px;
        width: 70px;
    }
}
@media only screen and (max-width: 480px){
    .uber .banner-section {
        background: url(https://nissan.com.mx/versa/img/360/exterior/colorInsignia/1.jpg) no-repeat;
        background-size: contain;
        height: 112px;
    }
    .uber .container .post-title-block h1{
        font-size: 28px !important;
    }
}
