<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Visor | Bienvenido</title>
      <!-- Bootstrap -->
    <link href="https://dev.visor.io/visor-bootstrap/visor-theme.css" rel="stylesheet">
	<link rel="stylesheet" href="css/landing/slick.css" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../css/landing/landing.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/landing/mediaquerys.css"/>
	<script src='https://www.google.com/recaptcha/api.js?render=explicit&hl=es'></script>
</head>