.process-steps {
    margin: 0 0 40px;
    list-style: none;
}
.process-steps li {
    float: left;
    position: relative;
    width: 12.5%;
    text-align: center;
    overflow: hidden;
}
.process-steps li:after {
    left: auto;
    right: 0;
    margin: 0 -26px 0 0;
}
.process-steps li:before, .process-steps li:after {
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    margin-left: -26px;
    width: 50%;
}
.process-steps li .i-bordered {
    background-color: #FFF;
    border-color: #CFCFCF;
}
.process-steps li .i-circled {
    margin-bottom: 0 !important;
}

.i-circled {
    border-radius: 50%;
}
.i-bordered {
    border: 1px solid #555;
    line-height: 50px !important;
    background-color: transparent !important;
    color: #444;
    text-shadow: none;
}
.i-rounded, .i-circled, .i-bordered {
    width: 52px !important;
    height: 52px !important;
    line-height: 52px !important;
    background-color: #444;
    border-radius: 3px;
}
.i-rounded, .i-plain, .i-circled, .i-bordered, .social-icon {
    display: block;
    float: left;
    margin: 4px 11px 7px 0;
    text-align: center !important;
    font-size: 28px;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    cursor: pointer;
    font-style: normal;
}
.color-gris {
    color: #C8C8C8 !important;
}
.divcenter {
    position: relative !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
}