<div class="row">
    <div class="col-md-8">
            <h3>¿En qué estatus deseas que aparezca el usuario?</h3>
            <select id="estatusNuevo" class="form-control">
                <option value="">Seleccione...</option>
                                                    <option value="1">
                    Perfil</option>
                                                    <option value="2">
                    Documentos</option>
                                                    <option value="3">
                    Revision</option>
                                                    <option value="4">
                    Correcciones</option>
                                                    <option value="5">
                    Analisis</option>
                                                    <option value="6">
                    Aprobación</option>
                                                    <option value="7">
                    Formalización</option>
                                                    <option value="8">
                    Desembolso</option>
                                                <option value="999">Concluido</option>
            </select>
            <br>
            <a class="btn btn-success">Cambiar estatus</a>
    </div>

        <div class="col-md-4">
            <div class="panel panel-danger text-center">
                <div class="panel-heading">
                    Estatus actual
                </div>
                <div class="panel-body">
                    <h3>Correcciones </h3>
                </div>
            </div>


            

        </div>

</div>