<br>
<h3>Agregar Nombre del ejecutivo y sucursal</h3>
<br>
<div class="col-md-6">
    <div class="row">
        <div class="form-group ">
            <label><b>Nombre del ejecutivo: </b></label>
            <input id="ejecutivo" class="form-control" type="text" required="" placeholder="Agregue el nombre del ejecutivo">
            <br>
            <label><b>Sucursal: </b></label>
            <input id="sucursal" class="form-control" type="text" required="" placeholder="Agregue la sucursal">
        </div>
        <input type="submit" value="Guardar datos" class="btn btn-success">
    </div>
</div>
