<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Usuario</th>
            <th>Acciones tomadas</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>2016-09-29 01:53</td>
            <td>contact@visor.io</td>
            <td>De status "documentos" a status "perfil"</td>
        </tr>
        <tr>
            <td>2016-09-29 02:47</td>
            <td>contact@visor.io</td>
            <td>De status "documentos" a status "perfil"</td>
        </tr>
        <tr>
            <td>2016-09-29 02:47</td>
            <td>contact@visor.io</td>
            <td>De status "documentos" a status "perfil"</td>
        </tr>
    </tbody>
</table>

<script>
    $(document).ready(function() {
        $('#example').DataTable( {
            responsive: true
        } );
    } );
</script>