<div ng-include="'app/components/menu/menu.html'"></div>
<div class="container">
   <h1>
      Perfil de empresa
      <br>
      <small>Gran pyme SAPI DE CV - KOSMVE4MFLUX022</small>
   </h1>
   <p>Para poder utilizar todos los servicios de VISOR, primero tienes que completar todos los datos de tu perfil</p>
   <br>
</div>
<div ng-controller="demotour" class="container perfil_form">
<onboarding-popover enabled="onboardingEnabled" steps="onboardingSteps" on-finish-callback='myCallbackFunction()' step-index='onboardingIndex'></onboarding-popover>
<a class="pull-right btn btn-warning" id='start_button' href='' ng-click='startOnboarding()'>Empezar tour virtual</a>
<onboarding-popover enabled='showOnboarding' steps='onboardingSteps' step-index='stepIndex'></onboarding-popover>
   <div class="row">
      <div class="col-md-3">
         <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <!-- panel 1 -->
            <div class="panel panel-default">
               <!--wrap panel heading in span to trigger image change as well as collapse -->
               <span class="side-tab" data-target="#tab1" data-toggle="tab" role="tab" aria-expanded="false">
                  <div class="panel-heading" role="tab" id="headingOne"data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                     <h4 class="panel-title">Apoderado legal <i class="fa fa-check pull-right" aria-hidden="true"></i></h4>
                  </div>
               </span>
               <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                     <!-- Tab content goes here -->
                     Completar todos los datos del representante legal.
                  </div>
               </div>
            </div>
            <!-- / panel 1 -->
            <!-- panel 2 -->
            <div class="panel panel-default">
               <!--wrap panel heading in span to trigger image change as well as collapse -->
               <span class="side-tab" data-target="#tab2" data-toggle="tab" role="tab" aria-expanded="false">
                  <div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                     <h4 class="panel-title collapsed">Datos empresa </h4>
                  </div>
               </span>
               <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                     <!-- Tab content goes here -->
                     En este apartado, hay que agregar todos los datos relativos a la empresa.
                  </div>
               </div>
            </div>
            <!-- / panel 2 -->
            <!--  panel 3 -->
            <div class="panel panel-default">
               <!--wrap panel heading in span to trigger image change as well as collapse -->
               <span class="side-tab" data-target="#tab3" data-toggle="tab" role="tab" aria-expanded="false">
                  <div class="panel-heading" role="tab" id="headingThree"  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                     <h4 class="panel-title">Información financiera </h4>
                  </div>
               </span>
               <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                     <!-- tab content goes here -->
                     Todo tipo de información ligada a los requisitos financieros
                  </div>
               </div>
            </div>
            <!--  panel 4 -->
            <div class="panel panel-default">
               <!--wrap panel heading in span to trigger image change as well as collapse -->
               <span class="side-tab" data-target="#tab4" data-toggle="tab" role="tab" aria-expanded="false">
                  <div class="panel-heading" role="tab" id="headingFour"  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                     <h4 class="panel-title">Datos cuenta</h4>
                  </div>
               </span>
               <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                     <!-- tab content goes here -->
                     Cuenta bancaria a la que se registrarán los depósitos.
                  </div>
               </div>
            </div>
            <!--  panel 5 -->
            <div class="panel panel-default">
               <!--wrap panel heading in span to trigger image change as well as collapse -->
               <span class="side-tab" data-target="#tab5" data-toggle="tab" role="tab" aria-expanded="false">
                  <div class="panel-heading" role="tab" id="headingFive"  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                     <h4 class="panel-title">CIEC</h4>
                  </div>
               </span>
               <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                     <!-- tab content goes here -->
                     Información necesaria para poder obtener el listado de todas las facturas
                  </div>
               </div>
            </div>
            <!--  panel 6 -->
            <div class="panel panel-default">
               <!--wrap panel heading in span to trigger image change as well as collapse -->
               <span class="side-tab" data-target="#tab6" data-toggle="tab" role="tab" aria-expanded="false">
                  <div class="panel-heading" role="tab" id="headingFive"  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                     <h4 class="panel-title">Buró de crédito</h4>
                  </div>
               </span>
               <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                     <!-- tab content goes here -->
                     Información del buró de crédito
                  </div>
               </div>
            </div>
         </div>
         <!-- / panel-group -->
      </div>
      <div class="col-md-9">
         <div class="md-macbook-pro md-glare">
            <div class="md-lid">
               <div class="md-camera"></div>
               <div class="md-screen">
                  <!-- content goes here -->
                  <div class="tab-featured-image">
                     <div class="tab-content">
                        <div class="tab-pane" id="tab1">
                           <div class="col-md-5">
                              <form>
                                 <div class="form-group">
                                    <label for="exampleInputEmail1">Nombre <i class="fa fa-question-circle " aria-hidden="true"></i></label>
                                    <input type="text" class="form-control" placeholder="Primer y segundo nombre">
                                 </div>
                                 <div class="form-group">
                                    <label for="exampleInputEmail1">Apellido Panerno</label>
                                    <input type="text" class="form-control" placeholder="Primer apellido">
                                 </div>
                                 <div class="form-group">
                                    <label for="exampleInputEmail1">Apellido Manerno</label>
                                    <input type="text" class="form-control" placeholder="Primer apellido">
                                 </div>
                                 <div class="form-group">
                                    <label for="exampleInputEmail1">RFC</label>
                                    <input type="text" class="form-control" placeholder="ABCD123456U3">
                                 </div>
                                 <div class="form-group">
                                    <label for="exampleInputEmail1">Sexo</label>
                                    <input type="text" class="form-control" placeholder="Seleccionar sexo">
                                 </div>
                              </form>
                           </div>
                           <div class="col-md-5">
                              <form>
                                 <div class="form-group">
                                    <label for="exampleInputEmail1">Nacionalidad</label>
                                    <input type="text" class="form-control" placeholder="De dónde vienes">
                                 </div>
                                 <div class="form-group">
                                    <label for="exampleInputEmail1">Porcentaje en la empresa</label>
                                    <input type="text" class="form-control" placeholder="0 a 100">
                                 </div>
                                 <div class="form-group">
                                    <label for="exampleInputEmail1">Experiencia como empresario</label>
                                    <input type="text" class="form-control" placeholder="0 a 99">
                                 </div>
                                 <div class="form-group">
                                    <label for="exampleInputEmail1">Teléfono</label>
                                    <input type="text" class="form-control" placeholder="0 a 99">
                                 </div>
                                 <div class="form-group">
                                    <label for="exampleInputEmail1">Email</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                 </div>
                              </form>
                           </div>
                           <div class="clearfix"></div>
                           <div class="col-md-10">
                              <button type="submit" class="btn btn-success pull-right">Siguiente</button>
                           </div>
                        </div>
                        <div class="tab-pane  in active" id="tab2">
                           <div class="col-md-5" id="razon_social">
                              <form>
                                 <div class="form-group" >
                                    <label for="exampleInputEmail1">Razón social</label>
                                    <input type="text" class="form-control" placeholder="Nombre legal de la empresa">
                                 </div>
                                 <div class="form-group">
                                    <label for="exampleInputEmail1">Antigüedad</label>
                                    <input type="text" class="form-control" placeholder="">
                                 </div>
                                 <div class="form-group">
                                    <label for="exampleInputEmail1">Admin</label>
                                    <input type="text" class="form-control" placeholder="">
                                 </div>
                              </form>
                           </div>
                           <div class="col-md-5">
                              <form>
                                 <div class="form-group">
                                    <label for="exampleInputEmail1">Giro</label>
                                    <input type="text" class="form-control" placeholder="">
                                 </div>
                                 <div class="form-group">
                                    <label for="exampleInputEmail1">Empleados</label>
                                    <input type="text" class="form-control" placeholder="0 a 99">
                                 </div>
                              </form>
                           </div>
                           <div class="clearfix"></div>
                           <h3>Bancos <i class="fa fa-plus-circle fa-lg"></i> <small>agregar más bancos</small></h3>
                           <hr>
                           <div class="col-md-5">
                              <div class="form-group">
                                 <label for="exampleInputEmail1">Banco </label>
                                 <div class="ng-cloak" ng-controller="banklist as ctrl">
                                    <ui-select ng-model="ctrl.bank.selected" theme="selectize" ng-disabled="ctrl.disabled" title="Choose a country">
                                       <ui-select-match placeholder="Escriba o seleccione un banco de la lista...">{{$select.selected.name}}</ui-select-match>
                                       <ui-select-choices repeat="bank in ctrl.banks | filter: $select.search">
                                          <span ng-bind-html="bank.name | highlight: $select.search"></span>
                                          <small ng-bind-html="bank.code | highlight: $select.search"></small>
                                       </ui-select-choices>
                                    </ui-select>
                                 </div>
                              </div>
                           </div>
                           <div>
                              
                              <div class="col-md-5" >
                                 <div class="form-group" ng-controller="TagsInput">
                                    <label for="exampleInputEmail1">Servicios</label>
                                    <tags-input ng-model="tags" display-property="name" placeholder="Agrega un servicio" replace-spaces-with-dashes="false">
                                       <auto-complete  source="loadServices($query)"
                                          min-length="0"
                                          load-on-focus="true"
                                          load-on-empty="true"
                                          max-results-to-show="8 "
                                          template="campos-semanticos">
                                       </auto-complete>
                                    </tags-input>
                                    <script type="text/ng-template" id="campos-semanticos">
                                       <div class="right-panel">
                                           <span ng-bind-html="$highlight($getDisplayText())"></span>
                                       </div>
                                    </script>
                                 </div>
                              </div>
                           </div>
                           <div class="clearfix"></div>
                           <h3>Domicilio</h3>
                           <hr>
                           <div class="col-md-5">
                              <div class="form-group">
                                 <label for="exampleInputEmail1">Calle</label>
                                 <input type="text" class="form-control" placeholder="Nombre de la calle">
                              </div>
                              <div class="form-group">
                                 <label for="exampleInputEmail1">Número interior</label>
                                 <input type="text" class="form-control" placeholder="Número interior">
                              </div>
                              <div class="form-group">
                                 <label for="exampleInputEmail1">Delegación</label>
                                 <input type="text" class="form-control" placeholder="">
                              </div>
                              <div class="form-group">
                                 <label for="exampleInputEmail1">Código postal</label>
                                 <input type="text" class="form-control" placeholder="">
                              </div>
                           </div>
                           <div class="col-md-5">
                              <div class="form-group">
                                 <label for="exampleInputEmail1">Número exterior</label>
                                 <input type="text" class="form-control" placeholder="Número exterior">
                              </div>
                              <div class="form-group">
                                 <label for="exampleInputEmail1">Colonia</label>
                                 <input type="text" class="form-control" placeholder="">
                              </div>
                              <div class="form-group">
                                 <label for="exampleInputEmail1">Estado</label>
                                 <input type="text" class="form-control" placeholder="">
                              </div>
                           </div>
                           <div class="clearfix"></div>
                           <div class="col-md-10">
                              <button type="submit" class="btn btn-success pull-right">Siguiente</button>
                           </div>
                        </div>
                        <div class="tab-pane fade" id="tab3">
                           <div class="col-md-10">
                              <h3>No se requiere información en este momento</h3>
                              <div class="clearfix"></div>
                              <button type="submit" class="btn btn-success pull-right">Siguiente</button>
                           </div>
                        </div>
                        <div class="tab-pane" id="tab4">
                           <div class="col-md-5">
                              <form>
                                 <div class="form-group">
                                    <label for="exampleInputEmail1">Banco</label>
                                    <input type="text" class="form-control" placeholder="Seleccione un banco">
                                 </div>
                                 <div class="form-group">
                                    <label for="exampleInputEmail1">Nombre</label>
                                    <input type="text" class="form-control" placeholder="">
                                 </div>
                                 <div class="form-group">
                                    <label for="exampleInputEmail1">Clabe</label>
                                    <input type="text" class="form-control" placeholder="4546546546554654654654654">
                                 </div>
                              </form>
                           </div>
                           <div class="col-md-10">
                              <button type="submit" class="btn btn-success pull-right">Siguiente</button>
                           </div>
                        </div>
                        <div class="tab-pane " id="tab5">
                           <div class="col-md-10">
                              <h3>Su CIEC se ya se encuentra agregada</h3>
                              <div class="clearfix"></div>
                              <br>
                              <button class="btn btn-primary"> Ver listado de facturas</button>
                              <div class="clearfix"></div>
                              <br>
                              <button type="submit" class="btn btn-success pull-right">Siguiente</button>
                           </div>
                        </div>
                        <div class="tab-pane fade" id="tab6">
                           <div class="col-md-10">
                              <h3>No se requiere información en este momento</h3>
                              <div class="clearfix"></div>
                              <button type="submit" class="btn btn-success pull-right">Siguiente</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="md-base"></div>
         </div>
         <!-- end macbook pro mockup -->
      </div>
      <!-- / .col-md-8 -->
   </div>
   <!--/ .row -->
</div>
<!-- end sidetab container -->