<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Visor ADL</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
        <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i> Mis clientes</a></li>
        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Perfil crediticio</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-question" aria-hidden="true"></i> Mis Operaciones financieras
          </a>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-clone" aria-hidden="true"></i> Mis solicitudes</a></li>
            <li><a href="#"><i class="fa fa-id-card-o" aria-hidden="true"></i> Mis créditos</a></li>
            <li><a href="#"><i class="fa fa-line-chart" aria-hidden="true"></i> Mis ventas</a></li>
          </ul>
        </li>



        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
            Mis finanzas
          </a>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> &nbsp;Visor Analíticos de Facturas</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> &nbsp;Visor sumario de facturas</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> &nbsp;Visor crear factura</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> &nbsp;Visor facturacion masiva</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> &nbsp;Visor conciliación</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> &nbsp;Visor Declaraciones</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> &nbsp;Visor Impuestos</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> &nbsp;Visor Saldos</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-usd" aria-hidden="true"></i> &nbsp;Visor Flujos de Caja</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-calculator" aria-hidden="true"></i> &nbsp;Visor Contabilidad</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-question" aria-hidden="true"></i> Ayuda
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Recursos</a></li>
            <li><a href="#">Preguntas frecuentes</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> Llámanos</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cogs" aria-hidden="true"></i>
 AMH130628UI1 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Insertar código</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Cerrar sesión</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
