<!--<nav class="navbar navbar-default navbar-fixed-top">-->
<nav class="animated slideInDown navbar navbar-default">
   <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
         <a class="navbar-brand main-menu" href="#"><img src="assets/images/logo.png"></a>
      </div>
      <div class="navbar-nav hidden-xs pull-right">
         <div class="" id="">
            <ul class="nav navbar-nav navbar-right">
               <li class="active"><a ui-sref="homepyme"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
               <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-bookmark-o" aria-hidden="true"></i> Mis solicitudes
                  </a>
                  <ul class="dropdown-menu">
                     <li><a href="#"><i class="fa fa-cube" aria-hidden="true"></i>  &nbsp;Pagos chiquitos</a></li>
                     <li><a href="#"><i class="fa fa-cube" aria-hidden="true"></i>  &nbsp;HT838399388-WWE77</a></li>
                     <li><a href="#"><i class="fa fa-cube" aria-hidden="true"></i>  &nbsp;La Kosmopolitana</a></li>
                  </ul>
               </li>
               <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-credit-card" aria-hidden="true"></i> Mis créditos
                  </a>
                  <ul class="dropdown-menu">
                     <li><a href="#"> No hay créditos activos</a></li>
                     <li role="separator" class="divider"></li>
                     <li><a href="#"><i class="fa fa-area-chart" aria-hidden="true"></i>  &nbsp;Simulador de crédito</a></li>
                     <li><a href="#"><i class="fa fa-pie-chart" aria-hidden="true"></i>  &nbsp;Perfil crediticio</a></li>
                  </ul>
               </li>
               <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-line-chart" aria-hidden="true"></i> Mis ventas
                  </a>
                  <ul class="dropdown-menu">
                     <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i> &nbsp;Mis clientes</a></li>
                  </ul>
               </li>
               <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-bar-chart" aria-hidden="true"></i>
                  Mis finanzas
                  </a>
                  <ul class="dropdown-menu">
                     <li><a href="#"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> &nbsp;Visor Analíticos de Facturas</a>
                     </li>
                     <li>
                        <a href="#"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> &nbsp;Visor sumario de facturas</a>
                     </li>
                     <li>
                        <a href="#"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> &nbsp;Visor crear factura</a>
                     </li>
                     <li>
                        <a href="#"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> &nbsp;Visor facturacion masiva</a>
                     </li>
                     <li>
                        <a href="#"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> &nbsp;Visor conciliación</a>
                     </li>
                     <li>
                        <a href="#"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> &nbsp;Visor Declaraciones</a>
                     </li>
                     <li>
                        <a href="#"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> &nbsp;Visor Impuestos</a>
                     </li>
                     <li>
                        <a href="#"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> &nbsp;Visor Saldos</a>
                     </li>
                     <li>
                        <a href="#"><i class="fa fa-usd" aria-hidden="true"></i> &nbsp;Visor Flujos de Caja</a>
                     </li>
                     <li>
                        <a href="#"><i class="fa fa-calculator" aria-hidden="true"></i> &nbsp;Visor Contabilidad</a>
                     </li>
                  </ul>
               </li>
               <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-question" aria-hidden="true"></i> Mi ayuda
                  </a>
                  <ul class="dropdown-menu">
                     <li><a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i> &nbsp;Recursos</a></li>
                     <li><a href="#"><i class="fa fa-question-circle" aria-hidden="true"></i> &nbsp;Preguntas frecuentes</a></li>
                     <li><a href="#"><i class="fa fa-desktop" aria-hidden="true"></i> &nbsp;Ver tutorial</a></li>
                     <li><a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i> &nbsp;Documentos precargados</a></li>
                     <li role="separator" class="divider"></li>
                     <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>  &nbsp;Llámanos</a></li>
                  </ul>
               </li>
               <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                     <div class="user-menu-pic"> A </div>
                     <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                     <li><a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i>  &nbsp;BUMP800204NT8</a></li>
                     <li role="separator" class="divider"></li>
                     <li><a href="#"><i class="fa fa-barcode" aria-hidden="true"></i>  &nbsp;Insertar código</a></li>
                     <li role="separator" class="divider"></li>
                     <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>  &nbsp;Cerrar sesión</a></li>
                  </ul>
               </li>
            </ul>
         </div>
         <!-- /.navbar-collapse -->
      </div>
      <div class="navbar-nav visible-xs pull-right navicon ">
         <div class="toggle">
            <span class="fa fa-bars"></span>
         </div>
      </div>
   </div>
   <!-- /.container-fluid -->
</nav>


  <div class="nav-wrapper">
            <ul class="nav navbar-nav navbar-right">
               <li ui-sref-active="active"><a ui-sref="homepyme"><i class="fa fa-home" aria-hidden="true"></i> Home hola</a></li>
               <li ui-sref-active="active" class="dropdown">
                  <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-bookmark-o" aria-hidden="true"></i> Mis solicitudes
                  </a>
                  <ul class="dropdown-menu">
                     <li><a href="#"><i class="fa fa-cube" aria-hidden="true"></i>  &nbsp;Pagos chiquitos</a></li>
                     <li><a href="#"><i class="fa fa-cube" aria-hidden="true"></i>  &nbsp;HT838399388-WWE77</a></li>
                     <li><a href="#"><i class="fa fa-cube" aria-hidden="true"></i>  &nbsp;La Kosmopolitana</a></li>
                  </ul>
               </li>
               <li ui-sref-active="active" class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-credit-card" aria-hidden="true"></i> Mis créditos
                  </a>
                  <ul class="dropdown-menu">
                     <li><a href="#"> No hay créditos activos</a></li>
                     <li role="separator" class="divider"></li>
                     <li><a href="#"><i class="fa fa-area-chart" aria-hidden="true"></i>  &nbsp;Simulador de crédito</a></li>
                     <li><a href="#"><i class="fa fa-pie-chart" aria-hidden="true"></i>  &nbsp;Perfil crediticio</a></li>
                  </ul>
               </li>
               <li ui-sref-active="active" class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-line-chart" aria-hidden="true"></i> Mis ventas
                  </a>
                  <ul class="dropdown-menu">
                     <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i> &nbsp;Mis clientes</a></li>
                  </ul>
               </li>
               <li ui-sref-active="active" class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-bar-chart" aria-hidden="true"></i>
                  Mis finanzas
                  </a>
                  <ul class="dropdown-menu">
                     <li><a href="#"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> &nbsp;Visor Analíticos de Facturas</a>
                     </li>
                     <li>
                        <a href="#"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> &nbsp;Visor sumario de facturas</a>
                     </li>
                     <li>
                        <a href="#"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> &nbsp;Visor crear factura</a>
                     </li>
                     <li>
                        <a href="#"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> &nbsp;Visor facturacion masiva</a>
                     </li>
                     <li>
                        <a href="#"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> &nbsp;Visor conciliación</a>
                     </li>
                     <li>
                        <a href="#"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> &nbsp;Visor Declaraciones</a>
                     </li>
                     <li>
                        <a href="#"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> &nbsp;Visor Impuestos</a>
                     </li>
                     <li>
                        <a href="#"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> &nbsp;Visor Saldos</a>
                     </li>
                     <li>
                        <a href="#"><i class="fa fa-usd" aria-hidden="true"></i> &nbsp;Visor Flujos de Caja</a>
                     </li>
                     <li>
                        <a href="#"><i class="fa fa-calculator" aria-hidden="true"></i> &nbsp;Visor Contabilidad</a>
                     </li>
                  </ul>
               </li>
               <li ui-sref-active="active" class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-question" aria-hidden="true"></i> Mi ayuda
                  </a>
                  <ul class="dropdown-menu">
                     <li><a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i> &nbsp;Recursos</a></li>
                     <li><a href="#"><i class="fa fa-question-circle" aria-hidden="true"></i> &nbsp;Preguntas frecuentes</a></li>
                     <li><a href="#"><i class="fa fa-desktop" aria-hidden="true"></i> &nbsp;Ver tutorial</a></li>
                     <li><a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i> &nbsp;Documentos precargados</a></li>
                     <li role="separator" class="divider"></li>
                     <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>  &nbsp;Llámanos</a></li>
                  </ul>
               </li>
               <li ui-sref-active="active" class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                     <div class="user-menu-pic"> A </div>
                     <span class="caret"></span>
                  </a>
                  <ul ui-sref-active="active" class="dropdown-menu">
                     <li><a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i>  &nbsp;BUMP800204NT8</a></li>
                     <li role="separator" class="divider"></li>
                     <li><a href="#"><i class="fa fa-barcode" aria-hidden="true"></i>  &nbsp;Insertar código</a></li>
                     <li role="separator" class="divider"></li>
                     <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>  &nbsp;Cerrar sesión</a></li>
                  </ul>
               </li>
            </ul>
  </div>
<div class="mobile-menu-overlay"></div>

<script>
$(".navicon").click(function() {
	$(this).toggleClass("show-menu");
	$(".nav-wrapper").toggleClass("show-menu");
	$("div.wrapper-overlay").toggleClass("active");
	$("body").toggleClass("no-scroll");
});

</script>