/* Sidebar component */
.sidebar{
  background: #f5f5f5;
  border: none;
  width: 220px;
  margin: 0 20px;
  min-height: 400px;
  float: left;
}
.sidebar .panel-heading{
  padding:0px 15px 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  font-size: 25px;
  font-weight: 100;
}
.sidebar .profile-picture{
  background: #fff;
  border:1px solid #cdcdcd;
  height: 120px;
  width: 120px;
  margin: 0 auto;
  padding: 0px;
  border-radius:100px;
  text-align: center;
  font-size: 84px;
}
.name-pyme{
  font-size: 28px;
  font-weight: 300;
}
/*Sidebar end */

@media(max-width:767px){
  .sidebar{
    width: 100%;
    margin: 0;
    min-height: auto;
    display: none;
  }
  .sidebar .panel-heading{
    padding:0px;
    display: none;
  }
  .sidebar .profile-picture{
    height: 80px;
    width: 80px;
    margin: 0 auto;
    padding: 0px;
    float: left;
    font-size: 54px;
  }
  .sidebar .text-center{
    text-align: left !important;
    margin-left: 100px;
  }
}
@media(min-width:768px){
  .sidebar{
    width: 180px;
  }
}
@media(min-width:992px){
  .sidebar{
    width: 220px;
  }
}
@media(min-width:1200px){

}